extends layout

block content

  h1= title
  ul
  each group in groups
    section(class="card")
      div(class="col-2")
        a(class = 'blue' onclick='javascript:openURL("/groups/' + group.id + '")')
          img(src=group.get("icon")._url width="150" height="auto")
      div(class="col-7 col-m-1")
        a(class = 'blue' href='/groups/' + group.id)
          h1 #{group.get("name")}
        p #{group.get("status")} 
        p #{group.get("bio")}    
    
    section(class="card transparent nopadding right")
      button(class="default") UNIRSE
      button(class="default") SEGUIR
            
  if groups.length == 0 
    section(class="card")
      img(class= "cover", src="/images/message.jpg")
      h1 Create a Group
      p La creacion de grupos estar disponile pronto.
