extends layout

block content

  section(class="card")
    div(class="col-2")
      a(class = 'blue' href='/groups/' + group.id)
        img(src=group.get("icon")._url width="150" height="auto")
    div(class="col-7 col-m-1")
      a(class = 'blue' href='/groups/' + group.id)
        h1 #{group.get("name")}
      p #{group.get("status")} 
      p #{group.get("bio")}    

  section(class="card transparent nopadding right")
    button(class="default") REQUEST JOIN
    button(class="default") FOLLOW
  
  each game in games
    section(class="card")
      div(class="col-3")
        div(class="crop")
          a(class = 'blue' href='/games/' + game.id)
            img(src=game.get("icon")._url class="banner")
      div(class="col-6 col-m-1")
        a(class = 'blue' href='/games/' + game.id)
          h1 #{game.get("group").get("name")}
        p(class="small")
          +printDate(game.createdAt)
        div(id="#{game.id}")  
        script.
          loadPageSegment('/groups/#{group.id}/game/#{game.id}', '#{game.id}', false)
        p #{game.get("description")}
